<div class="navigationBar sticky-sm-top">
  <nav>
    <ul>
      <li>
        <h1>PASS COLLEGE PORTAL</h1>
      </li>

      <li><a href="/dashboard" class="tabs">Dashboard</a></li>

      <li><a href="/account" class="tabs">Account</a></li>
      <li><a href="/log-in" class="tabs">Logout </a></li>
    </ul>
  </nav>
</div>
