<link rel="stylesheet" href="css/underDev.css" />
<div class="welcome-page-con">
  <h1>Welcome to Pass Portal</h1>

  <div
    class="btn-group"
    role="group"
    aria-label="Button group with nested dropdown"
  >
    <button type="button" class="btn btn-custom">Login as</button>
    <div class="btn-group" role="group">
      <button
        id="btnGroupDrop1"
        type="button"
        class="btn btn-custom dropdown-toggle"
        data-bs-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      ></button>
      <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <a class="dropdown-item" id="admin" href="/admin"> Admin</a>
        <a class="dropdown-item" id="instructor" href="/instructor"
          >Instructor</a
        >
        <a class="dropdown-item" id="student" href="/student">Student</a>
      </div>
    </div>
  </div>
</div>
