<% const semesters = [ "1st", "2nd", "Summer Class" ]; %>
<!-- -------------- -->
<%semesters.forEach(item => {%>
<!--  -->
<% if(subject.semester==item){ %>
<option selected><%- item%></option>

<%}else{%>

<option><%- item%></option>

<%}});%>
