<% const semesters = [ "1st", "2nd", "3rd", "4th" ]; semesters.forEach(item => {
//if(year_level==item){ %> // // // //
<option selected><%- //item%></option>

<%//}else{%>

<option><%- item%></option>
<%//}%> <%})%>
