<% const yearLevel = [ "1st", "2nd", "3rd", "4th" ]; %>

<!--  -->
<% yearLevel.forEach(item => {%>
<!--  -->
<% if(subject.year_level==item){ %>
<option selected><%- item%></option>

<%}else{%>

<option><%- item%></option>
<%}%>
<!--  -->
<%})%>
