<% let date=new Date(); const year=date.getFullYear(); %> <% for (let i=0
;i<10;i++) { //if(curriculum_year == year-i){%> //
<option selected><%-// year-i %>-<%-// year-i+1 %></option>

<%//}else{%>

<option><%- year-i %>-<%- year-i+1 %></option>

<%}//} %>
